<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
  <head>

    {# Required by Bootstrap. #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Required by Bootstrap. #}

    <!-- Modules. -->
    <script src="/res/packages/system.js"></script>

    <!-- Project config. -->
    <script src="/res/config.js"></script>

    <!-- Load JSPM resource. -->
    <link rel="stylesheet" href="/package:bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/package:bootstrap/css/bootstrap-theme.css">

    <!-- App. -->
    <script type="application/javascript">
      System.import('app/test/bootstrap.js');
    </script>

  </head>
  <body>

    <!-- TODO(burdon): Replace with angular template (so doesn't show up before css -->
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">Test</a>
        </div>
      </div>
    </header>

    <section>
      <div class="container app-main">

        <!-- App container. -->
        <div id="app-root">
          <section ui-view></section>
        </div>

      </div>
    </section>

  </body>
</html>
